<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>회원가입 화면</title>
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
</head>
<body class="bg-primary">
<div id="layoutAuthentication">
    <div id="layoutAuthentication_content">
        <main>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-7">
                        <div class="card shadow-lg border-0 rounded-lg mt-5">
                            <div class="card-header"><h3 class="text-center font-weight-light my-4">회원가입</h3></div>
                            <div class="card-body">
                                <p th:text="${error}"></p>
                                <form action="/register" method="post">
                                    <div class="row mb-3">
                                        <div class="col-md-4">
                                            <div class="form-floating mb-3 mb-md-0">
                                                <label for="USER_ID">User ID : </label>
                                                <input class="form-control" id="USER_ID" name="userId" type="text" placeholder="User ID" />
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-floating mb-3 mb-md-0">
                                                <label for="PASSWORD">Password : </label>
                                                <input class="form-control" id="PASSWORD" name="password" type="password" placeholder="Password" />
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-floating mb-3 mb-md-0">
                                                <button class="btn btn-secondary" type="button" id="checkUserId">아이디 중복검사</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-floating mb-3">
                                        <label for="NAME">Name : </label>
                                        <input class="form-control" id="NAME" name="name" type="text" placeholder="Name" />
                                    </div>
                                    <div class="form-floating mb-3">
                                        <label for="AGE">Age : </label>
                                        <input class="form-control" id="AGE" name="age" type="number" placeholder="Age" />
                                    </div>
                                    <div class="form-floating mb-3">
                                        <label for="GENDER">Gender : </label>
                                        <select class="form-control" id="GENDER" name="gender">
                                            <option value="" disabled selected>Select your gender</option>
                                            <option value="m">M</option>
                                            <option value="f">F</option>
                                        </select>
                                    </div>
                                    <div class="form-floating mb-3">
                                        <label for="PHONE">Phone Number : </label>
                                        <input class="form-control" id="PHONE" name="phone" type="tel" placeholder="Phone number" />
                                    </div>
                                    <div class="mt-4 mb-0">
                                        <div class="d-grid">
                                            <button class="btn btn-primary btn-block" type="submit">생성하기</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
<script src="js/user.js"></script>
</body>
</html>
